@import url("https://fonts.cdnfonts.com/css/lexend-deca");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lexend Deca", sans-serif !important;
}

.primaryBtn_global {
  outline: none;
  border: none;
  background: #000;
  color: #fff;
  border-radius: 10.87px;
  padding: 10.87px;
  font-size: 24.24px;
  font-weight: 700;
  line-height: 30.31px;
  border: 1px solid #000000;
  transition: all 0.5s ease-in-out;
}

.primaryBtn_global_invert {
  outline: none;
  border: none;
  background: #ffffff;
  color: #000000;
  border-radius: 10.87px;
  padding: 10.87px;
  font-size: 24.24px;
  font-weight: 700;
  line-height: 30.31px;
  border: 1px solid #fff;
  transition: all 0.5s ease-in-out;
}

.primaryBtn_global:hover {
  background-color: #ffffff;
  color: #000000;
  transition: all 0.5s ease-in-out;
}

.primaryBtn_global_invert:hover {
  background-color: #000000;
  color: #ffffff;
  transition: all 0.5s ease-in-out;
  border: 1px solid #fff;
}

.loginBtns_primary {
  width: 100%;
  outline: none;
  border: none;
  background: #000000;
  color: #fff;
  border-radius: 4px;
  padding: 8px 10px;
  border: 1px solid #000000;
  transition: all 0.5s ease-in-out;
  font-size: 15px;
  font-weight: 500;
  line-height: 26px;
  text-decoration: none;
  text-align: center;
}

.loginBtns_inverted {
  width: 100%;
  outline: none;
  border: none;
  background: #ffffff;
  color: #000000;
  border-radius: 4px;
  padding: 8px 10px;
  border: 1px solid #000000;
  transition: all 0.5s ease-in-out;
  font-size: 15px;
  font-weight: 500;
  line-height: 26px;
  text-decoration: none;
  text-align: center;
}

.loginBtns_primary:hover {
  background-color: #ffffff;
  color: #000000;
  text-decoration: none;
  transition: all 0.5s ease-in-out;
}

.loginBtns_inverted:hover {
  background-color: #000000;
  color: #ffffff;
  text-decoration: none;
  transition: all 0.5s ease-in-out;
  border: 1px solid #fff;
}

.animationsGlobal_Vertical {
  opacity: 0;
  transform: translateY(100px);
  transition: all 1s ease-in-out;
}

.animationsGlobal_Vertical.in-viewport.loaded {
  opacity: 1;
  transform: translateY(0px);
  transition: all 1s ease-in-out;
}

.animationsGlobal_Herizontal_left {
  opacity: 0;
  transform: translateX(-100px);
  transition: all 1s ease-in-out;
}

.animationsGlobal_Herizontal_left.in-viewport.loaded {
  opacity: 1;
  transform: translateX(0px);
  transition: all 1s ease-in-out;
}

.animationsGlobal_Herizontal_right {
  opacity: 0;
  transform: translateX(100px);
  transition: all 1s ease-in-out;
}

.animationsGlobal_Herizontal_right.in-viewport.loaded {
  opacity: 1;
  transform: translateX(0px);
  transition: all 1s ease-in-out;
}

.offcanvas-body {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.authform {
  width: 100%;
}

.navbar {
  width: 100%;
  background-color: #fff;
  box-shadow: 0px 0px 9px 0px #dbdbdb;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .navContentWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: auto;
}
.navbar .img {
  flex: 1;
}
.navbar .nav_text {
  flex: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.navbar .nav_text .pages {
  font-weight: 600;
  color: rgba(0, 0, 0, 0.5019607843);
  text-decoration: none;
}
.navbar .nav_text .active {
  color: #000000;
}
.navbar .nav_text .call {
  background-color: #000;
  padding: 10px 30px;
  border-radius: 8px;
  color: #fff;
  font-weight: 700;
  text-decoration: none;
}
.navbar .nav_text .menu {
  display: none;
}

.alert.alert-danger,
.alert.alert-success {
  width: -moz-fit-content;
  width: fit-content;
  -webkit-backdrop-filter: blur(13px);
          backdrop-filter: blur(13px);
  position: fixed;
  z-index: 100;
  top: 10%;
  right: 1%;
}
.alert.alert-danger ul,
.alert.alert-success ul {
  list-style: none;
}

.alert.alert-danger {
  background: rgba(255, 160, 160, 0.1215686275);
  border: 1px solid #e1dfdf;
  color: #a00;
}

#errorContainer {
  color: #ec0000;
}

.alert.alert-success {
  background: rgba(129, 232, 131, 0.12);
  border: 1px solid #c1ffd4;
  color: #053b00;
}

#sucessMessage {
  display: none;
}

.footer {
  position: relative;
  height: auto;
  background-color: #000;
  padding: 100px 0px 150px;
}
.footer .footer_container_main {
  width: 80%;
  margin: auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.footer .footer_container_main .logo_footer {
  width: 20%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.footer .footer_container_main .logo_footer img {
  width: 50%;
}
.footer .footer_container_main .content_container_footer {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-direction: column;
  flex: 1;
}
.footer .footer_container_main .content_container_footer .desktop_copyrights {
  color: rgba(255, 255, 255, 0.5019607843);
  font-size: 18px;
  font-weight: 400;
  line-height: 34px;
  text-align: left;
}
.footer .footer_container_main .content_container_footer .footerContent {
  font-size: 18px;
  font-weight: 400;
  line-height: 34px;
  text-align: left;
  color: rgba(255, 255, 255, 0.5019607843);
  margin-bottom: 24px;
  width: 70%;
}
.footer .footer_container_main .content_container_footer .email_footer,
.footer .footer_container_main .content_container_footer .phone_footer {
  font-size: 24px;
  font-weight: 600;
  line-height: 28px;
  text-align: left;
  color: #fff;
  margin-bottom: 24px;
}
.footer .footer_container_main .abouts_footer {
  flex: 1;
  color: #fff;
  height: 100%;
  display: flex;
  align-items: stretch;
  justify-content: space-around;
  flex-direction: row;
}
.footer .footer_container_main .abouts_footer .pages,
.footer .footer_container_main .abouts_footer .platforms {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}
.footer .footer_container_main .abouts_footer .pages span,
.footer .footer_container_main .abouts_footer .platforms span {
  color: rgba(255, 255, 255, 0.5019607843);
  font-size: 20px;
  font-weight: 400;
  line-height: 74px;
  text-align: left;
}
.footer .footer_container_main .mobile_copyrights {
  display: none;
}

.hero_sec {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 75px);
  width: 80%;
  margin: auto;
}
.hero_sec .content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75%;
}
.hero_sec .content .hero_textContainer {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.hero_sec .content .hero_textContainer .hero_text {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.hero_sec .content .hero_textContainer .hero_text h2 {
  font-size: 70px;
  font-weight: 700;
  line-height: 80px;
  letter-spacing: 0em;
  text-align: left;
}
.hero_sec .content .hero_textContainer .hero_text p {
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  color: rgba(0, 0, 0, 0.6);
  margin-top: 5%;
  margin-bottom: 30px;
}
.hero_sec .content .hero_img {
  width: 95%;
  height: 100%;
}
.hero_sec .content .hero_img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: #000;
  padding: 50px 0 80px;
}
.wrapper .title {
  font-weight: 400;
  font-size: 40px;
  color: #fff;
}
.wrapper .container {
  width: 80%;
  margin: auto;
  list-style: none;
}
.wrapper .container .box {
  width: 100%;
  height: auto;
  background: transparent;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.wrapper .container .box .question {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  cursor: pointer;
  border-bottom: 1px solid #fff;
  font-weight: 500;
  font-size: 40px;
  line-height: 60px;
  color: #fff;
  padding: 25px 0;
}
.wrapper .container .box .answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s linear;
}
.wrapper .container .box .answer.active {
  max-height: 255px;
}
.wrapper .container .box .answer__text {
  font-size: 28px;
  font-weight: 400;
  line-height: 48px;
  text-align: left;
  margin: 25px 0px;
  color: rgba(255, 255, 255, 0.6980392157);
}

.portfolio {
  background-color: #fff;
  padding: 150px 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.portfolio .title {
  width: 70%;
  text-align: center;
  font-size: 40px;
  font-weight: 700;
}
.portfolio .content_container {
  width: calc(80% + 48px);
  height: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 70px 0 0px 0;
}
.portfolio .content_container .portfolio_card {
  background: #000;
  width: 28%;
  height: 470px;
  margin: 24px;
}
.portfolio .portfolioBtn {
  margin: 40px auto;
}

.testimonials {
  background-color: #000;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.testimonials .title {
  margin-top: 5%;
  color: #fff;
  width: 70%;
  text-align: center;
  font-size: 40px;
  font-weight: 700;
}
.testimonials .content_container {
  width: 80%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 50px 0;
}
.testimonials .content_container .content {
  position: relative;
  flex-basis: 31%;
  height: 300px;
  margin-bottom: 5%;
}
.testimonials .content_container .content .img {
  width: 100%;
  height: 90%;
  background-color: #fff;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.letsTalk {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 160px 0;
}
.letsTalk .text {
  width: 100%;
  font-size: 40px;
  font-weight: 600;
  line-height: 60px;
  text-align: left;
  margin-bottom: 30px;
}

.about_hero_sec {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 75px);
  width: 80%;
  margin: auto;
}
.about_hero_sec .content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90%;
}
.about_hero_sec .content .hero_textContainer {
  flex: 2;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.about_hero_sec .content .hero_textContainer .hero_text {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.about_hero_sec .content .hero_textContainer .hero_text h2 {
  font-family: Lexend;
  font-size: 50px;
  font-weight: 700;
  line-height: 80px;
  letter-spacing: 0em;
  text-align: left;
}
.about_hero_sec .content .hero_textContainer .hero_text h3 {
  font-family: Lexend;
  font-size: 20px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.8);
  margin: 10px 0;
}
.about_hero_sec .content .hero_textContainer .hero_text p {
  font-family: Lexend;
  font-size: 15px;
  font-weight: 400;
  line-height: 32px;
  color: rgba(0, 0, 0, 0.6);
}
.about_hero_sec .content .hero_img {
  flex: 1;
  height: 100%;
}
.about_hero_sec .content .hero_img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.counter {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #000000;
}
.counter .content_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 150px 0;
}
.counter .content_container .content {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  padding: 0 20px;
  border-right: 1px solid #fff;
  width: 90%;
}
.counter .content_container .content .number {
  display: flex;
}
.counter .content_container .content .number h1 {
  margin: 0 10px;
  color: #ffffff;
  font-family: Lexend;
  font-weight: 700;
  font-size: 50px;
}
.counter .content_container .content .title {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}
.counter .content_container .content .title p {
  color: rgba(255, 255, 255, 0.8);
  font-family: Lexend;
  font-weight: 700;
  font-size: 15px;
}
.counter .content_container .content:nth-child(4) {
  border: none;
}

.team {
  background-color: #fff;
  padding: 50px 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.team .title {
  width: 70%;
  text-align: center;
  font-size: 40px;
  font-weight: 700;
}
.team .content_container {
  width: calc(80% + 48px);
  height: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 70px 0 0px 0;
}
.team .content_container .team_card {
  width: 20%;
  height: 320px;
  box-shadow: 0px 0px 9px 0px #dbdbdb;
  margin-bottom: 5%;
}
.team .content_container .team_card .img {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80%;
  width: 100%;
  overflow: hidden;
}
.team .content_container .team_card .img img {
  -o-object-fit: contain;
     object-fit: contain;
}
.team .content_container .team_card .content {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}
.team .content_container .team_card .content span {
  text-align: center;
}
.team .content_container .team_card .content .name {
  color: #000000;
  font-family: Lexend;
  font-weight: 700;
  font-size: 20px;
}
.team .content_container .team_card .content .pos {
  color: #000000;
  font-family: Lexend;
  font-weight: 400;
  font-size: 15px;
}

.portfolio_hero {
  width: 80%;
  height: auto;
  margin: auto;
  padding: 60px 0 80px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.portfolio_hero .heroTitle {
  font-size: 70px;
  font-weight: 700;
  line-height: 80px;
  text-align: left;
}

.portfolio_wrapper {
  width: 80%;
  height: auto;
  margin: auto;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}
.portfolio_wrapper .title_portfolio {
  font-size: 40px;
  font-weight: 600;
  line-height: 60px;
  text-align: center;
  color: rgba(0, 0, 0, 0.8);
}
.portfolio_wrapper .portfolio_navSlider {
  width: 50%;
  margin: auto;
  padding: 40px 0;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}
.portfolio_wrapper .portfolio_navSlider .navSlide {
  padding: 8px 24px;
  border-radius: 100px;
  border: 1px solid rgba(0, 0, 0, 0.3019607843);
  color: rgba(0, 0, 0, 0.8980392157);
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  cursor: pointer;
}
.portfolio_wrapper .portfolio_navSlider .navSlide.active, .portfolio_wrapper .portfolio_navSlider .navSlide:hover {
  background: #000;
  color: #fff;
  border: 1px solid black;
}
.portfolio_wrapper .portfolio_navSlider .navSlide:hover {
  transition: all 0.2s ease-in-out;
}
.portfolio_wrapper .mobileSlidingNav {
  display: none;
}
.portfolio_wrapper .portfolio_content {
  width: 100%;
  margin: auto;
  padding: 30px 0 80px;
  display: flex;
  grid-row-gap: 50px;
  flex-wrap: wrap;
}
.portfolio_wrapper .portfolio_content .cardContainer__portfolio {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
}
.portfolio_wrapper .portfolio_content .cardContainer__portfolio .portfolio_card {
  background: #000;
  width: 28%;
  height: 470px;
  margin: 0;
}

@media screen and (max-width: 767px) {
  .navbar .nav_text {
    justify-content: flex-end;
  }
  .navbar .nav_text .pages {
    display: none;
  }
  .navbar .nav_text .call {
    display: none;
  }
  .navbar .nav_text .menu {
    display: block;
  }
  .footer {
    padding: 40px 0px 30px;
  }
  .footer .footer_container_main {
    width: 90%;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
  }
  .footer .footer_container_main .logo_footer {
    width: 100%;
    margin-bottom: 24px;
  }
  .footer .footer_container_main .logo_footer img {
    width: 40%;
  }
  .footer .footer_container_main .content_container_footer .desktop_copyrights {
    display: none;
  }
  .footer .footer_container_main .content_container_footer .footerContent {
    font-size: 18px;
    font-weight: 400;
    line-height: 34px;
    width: 100%;
  }
  .footer .footer_container_main .content_container_footer .email_footer,
  .footer .footer_container_main .content_container_footer .phone_footer {
    font-size: 24px;
    font-weight: 600;
    line-height: 28px;
  }
  .footer .footer_container_main .abouts_footer {
    width: 100%;
    margin-top: 25px;
    margin-bottom: 40px;
    justify-content: space-between;
  }
  .footer .footer_container_main .mobile_copyrights {
    color: rgba(255, 255, 255, 0.5019607843);
    font-size: 18px;
    font-weight: 400;
    line-height: 34px;
    text-align: center;
    display: block;
    padding: 36px 0;
    border-top: 1px solid #222;
  }
  .hero_sec {
    height: auto;
    width: 100%;
    padding: 30px 0px;
  }
  .hero_sec .content {
    flex-direction: column;
    height: unset;
    width: 90%;
  }
  .hero_sec .content .hero_textContainer {
    width: 100%;
    flex-direction: column;
  }
  .hero_sec .content .hero_textContainer .hero_text {
    width: 97%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
  }
  .hero_sec .content .hero_textContainer .hero_text h2 {
    font-size: 48px;
    line-height: 60px;
  }
  .hero_sec .content .hero_textContainer .hero_text p {
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    color: rgba(0, 0, 0, 0.6);
    margin-top: 20px;
  }
  .hero_sec .content .hero_img {
    width: 100%;
    margin-top: 30px;
  }
  .wrapper {
    padding: 30px 0;
  }
  .wrapper .title {
    font-size: 20px;
  }
  .wrapper .container {
    width: 90%;
    margin: 30px auto;
    list-style: none;
  }
  .wrapper .container .box {
    width: 100%;
    height: auto;
    margin: 0px 0;
    padding: 0;
    color: #fff;
  }
  .wrapper .container .box .question {
    width: 100%;
    font-size: 16px;
    padding: 16px 0;
    line-height: 20px;
  }
  .wrapper .container .box .answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s linear;
  }
  .wrapper .container .box .answer.active {
    max-height: 255px;
  }
  .wrapper .container .box .answer__text {
    color: rgba(255, 255, 255, 0.5019607843);
    font-weight: 300;
    font-size: 14px;
    margin: 15px 0px;
    line-height: 20px;
  }
  .portfolio {
    padding: 50px 0;
  }
  .portfolio .content_container {
    margin: 20px 0 0px 0;
  }
  .portfolio .portfolioBtn {
    margin: 20px auto 10px;
  }
  .portfolio .primaryBtn_global_mobile {
    margin: -80px auto 40px auto;
  }
  .portfolio .title {
    width: 90%;
    font-size: 20px;
    font-weight: 600;
    line-height: 25px;
  }
  .portfolio .content_container .portfolio_card {
    flex-basis: 100%;
    margin: 24px auto;
  }
  .portfolio .content_container .portfolio_card:nth-child(1) {
    margin-top: 0px;
  }
  .portfolio .content_container .portfolio_card:nth-child(4),
  .portfolio .content_container .portfolio_card:nth-child(5),
  .portfolio .content_container .portfolio_card:nth-child(6),
  .portfolio .content_container .portfolio_card:nth-child(7),
  .portfolio .content_container .portfolio_card:nth-child(8),
  .portfolio .content_container .portfolio_card:nth-child(9) {
    display: none;
  }
  .testimonials .title {
    width: 90%;
    margin-top: 27px;
    font-size: 20px;
    font-weight: 500;
    line-height: 25px;
    text-align: center;
  }
  .testimonials .content_container {
    margin: 20px 0;
    width: 90%;
  }
  .testimonials .content_container .content {
    flex-basis: 100%;
    height: 400px;
  }
  .testimonials .content_container .content .img {
    height: 100%;
  }
  .testimonials .content_container .content:nth-child(2),
  .testimonials .content_container .content:nth-child(3) {
    display: none;
  }
  .letsTalk {
    width: 90%;
    padding: 40px 0px;
    margin: auto;
  }
  .letsTalk .text {
    width: 100%;
    font-size: 30px;
    font-weight: 600;
    line-height: 30px;
    font-size: 20px;
  }
  .counter .content_container {
    padding: 50px 0;
    flex-direction: column;
  }
  .counter .content_container .content {
    padding: 10px;
    border-right: 0;
    border-bottom: 1px solid #fff;
  }
  .counter .content_container .content h1 {
    font-size: 36px;
  }
  .team .content_container {
    align-items: center;
    justify-content: space-between;
    width: 80%;
  }
  .team .content_container .team_card {
    width: 100%;
    padding: 0;
  }
  .about_hero_sec {
    height: auto;
    width: 100%;
    padding: 30px 0px;
  }
  .about_hero_sec .content {
    flex-direction: column;
    height: unset;
    width: 90%;
  }
  .about_hero_sec .content .hero_textContainer {
    width: 100%;
    flex-direction: column;
  }
  .about_hero_sec .content .hero_textContainer .hero_text {
    width: 97%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
  }
  .about_hero_sec .content .hero_textContainer .hero_text h2 {
    font-size: 48px;
    line-height: 60px;
  }
  .about_hero_sec .content .hero_textContainer .hero_text p {
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    color: rgba(0, 0, 0, 0.6);
    margin-top: 20px;
  }
  .about_hero_sec .content .hero_img {
    width: 100%;
    margin-top: 30px;
  }
  .portfolio_hero {
    width: 90%;
    padding: 35px 0 20px;
    justify-content: center;
  }
  .portfolio_hero .heroTitle {
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
  }
  .portfolio_wrapper {
    width: 90%;
  }
  .portfolio_wrapper .title_portfolio {
    font-size: 20px;
    line-height: 25px;
    text-align: center;
  }
  .portfolio_wrapper .desktopNav_portfolio {
    display: none;
  }
  .portfolio_wrapper .mobileSlidingNav {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 30px 0;
  }
  .portfolio_wrapper .mobileSlidingNav .slick-track {
    padding: 0 20px;
  }
  .portfolio_wrapper .mobileSlidingNav .navSlide {
    margin: 0 20px;
  }
  .portfolio_wrapper .portfolio_content {
    padding: 0px 0 60px;
    grid-row-gap: 16px;
  }
  .portfolio_wrapper .portfolio_content .cardContainer__portfolio {
    flex-direction: column;
    grid-row-gap: 16px;
  }
  .portfolio_wrapper .portfolio_content .cardContainer__portfolio .portfolio_card {
    width: 100%;
    height: 400px;
  }
}
@media (max-width: 767px) {
  .primaryBtn_global {
    border-radius: 4px;
    padding: 10px;
    font-size: 18px;
    line-height: 22.5px;
  }
  .primaryBtn_global_invert {
    border-radius: 4px;
    padding: 10px;
    font-size: 18px;
    font-weight: 700;
    line-height: 23px;
  }
}/*# sourceMappingURL=style.css.map */